<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Cms>
            <version>1.6.0.0.2</version>
        </Mage_Cms>
    </modules>

    <frontend>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>Ccc_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>
            <updates>
                <user>
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </frontend> 
    <global> 
        <blocks>
            <user>
                <class>Ccc_User_Block</class>
            </user>
        </blocks>
        <!-- <models>
            <user>
                <class>Ccc_User_Model</class>
            </user>
        </models> -->
        <models>
            <user>
                <class>Ccc_User_Model</class>
                <resourceModel>user_resource</resourceModel>
            </user>
            <user_resource>
                <class>Ccc_User_Model_Resource</class>
                <!-- <deprecatedNode>user_mysql4</deprecatedNode> -->
                <entities>
                    <user>
                        <table>user</table>
                    </user>
                    <!-- <page_store>
                        <table>user_page_store</table>
                    </page_store>
                    <block>
                        <table>user_block</table>
                    </block>
                    <block_store>
                        <table>user_block_store</table>
                    </block_store> -->
                </entities>
            </user_resource>
        </models>
    </global>
</config>
